# Object files
*.o

# Directories
Debug
Release
ipch
x64

# Libraries
*.lib
*.a

# Solutions
*.user
*.suo
*.sln
*.sdf

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#misc
TAGS
tags
poly
threads